# Apple platforms
/src/cg.rs          @madsmtm

# Redox
/src/orbital.rs     @jackpot51

# Wayland (no maintainer)
/src/wayland

# Web (no maintainer)
/src/web.rs

# Windows
/src/win32.rs       @notgull

# X11
/src/x11.rs         @notgull
