[package]
name = "softbuffer"
version = "0.1.0"
edition = "2021"
authors = ["David Johnson <john01dav@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Softbuffer integrates with the raw-window-handle crate to allow writing to a window in a cross-platform way while using the very high quality dedicated window management libraries that are available in the Rust ecosystem."
documentation = "https://docs.rs/softbuffer"
readme = "README.md"
homepage = "https://github.com/john01dav/softbuffer"
repository = "https://github.com/john01dav/softbuffer"
keywords = ["framebuffer"]
categories = ["game-development", "graphics", "gui", "multimedia", "rendering"]
exclude = ["examples"]

[dependencies]
thiserror = "1.0.30"
raw-window-handle = "0.4.2"

[target.'cfg(target_os = "linux")'.dependencies]
tempfile = "3.3.0"
wayland-client = {version = "0.29", features = ["use_system_lib"], default_features = false}
x11-dl = "2.19.1"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = "0.3.9"

[target.'cfg(target_os = "macos")'.dependencies]
core-graphics = "0.22.3"
objc = "0.2.7"

[dev-dependencies]
winit = "0.26.1"
image = "0.23.14"
rayon = "1.5.1"